* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 380px 1fr 50px;
    caret-color: transparent;

    @media(max-width: 600px) {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .title {
            font-size: 2rem;
            margin-top: 10px;
        }
    }
}

.title {
    grid-column: 2;
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline: 2vh;
    padding-block: 1vh;
    cursor: pointer;

    @media(max-width: 600px) {
        font-size: 1rem;
    }
}

.top {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media(max-width: 600px) {
        gap: .5rem;
    }
}

.mines-by-user {
    font-weight: 900;
}

.side-features {
    justify-self: end;
    align-self: start;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 180px;

    @media(max-width: 600px) {
        align-self: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: -2rem;
        width: 260px;
        flex-direction: row;
    }
}

.board-container {
    grid-column: 2;
    justify-self: center;
    align-self: baseline;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    width: max-content;

    @media(max-width: 600px) {
        margin: auto;
    }
}

.main-functions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.dark {
    background-color: black;
    height: 35px;
    width: 30px;
}

.restart {
    height: 40px;
    width: 40px;
    border: solid 2px rgb(99, 4, 136);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart:hover {
    background-color: rgb(216, 182, 223);
}

.restart:active {
    background-color: rgb(160, 99, 157);
    font-size: medium;
}

.undo {
    height: 35px;
    width: 30px;
    border: solid 2px black;
    rotate: 180deg;
    font-size: large;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media(max-width: 600px) {
        gap: 4px;
    }
}

.mines-by-user {
    text-align: center;
}

.your-score {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    height: 50px;
    z-index: 100;

    @media(max-width: 600px) {
        font-size: .75rem;
        padding-top: 1rem;
    }
}

.h1-score {
    margin: 0;
    background-color: azure; 
}

.lives {
    background-color: rgb(255, 241, 241);
    text-align: center;
    padding: 8px;
    font-size: 1.5rem;
    border: solid 2px red;

    @media(max-width: 600px) {
        font-size: 1.2rem;
        width: 115px;
    }
}

.dead {
    background-color: rgb(165, 223, 201);
    border: solid 2px black;
}

.hints {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: 55px;
    border: solid 2px rgb(27, 68, 201);
}

.hint {
    background-color: rgb(153, 212, 240);
    border-radius: 50%;
    margin-left: 3px;
    font-size: 1rem;
    padding-inline: 15px;
    padding-block: 10px;
    border: none;

    @media(max-width: 600px) {
        font-size: .875rem;
        padding-inline: 8px;
        padding-block: 5px;
        height: 30px;
    }
}

.time {
    color: yellow;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 2rem;
    padding: 10px;
    background-color: rgb(27, 27, 27);

    @media(max-width: 600px) {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 115px;
    }
}

.safe-click {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 179, 179);
}

.clicks-remain {
    font-size: 1rem;
}

.container {
    margin-top: 10px;
}

.board {
    margin-top: 100px;
    margin: auto;
    border-collapse: collapse;
}

.cell {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(231, 231, 231, 0.856);
    border: 2px solid #000;
    padding: 3px;
    height: 40px;
    width: 40px;
    caret-color: transparent;
    cursor: pointer;
}

.cell-medium {
    font-size: 1rem;
    font-weight: normal;
    height: 30px;
    width: 30px;
}

.cell-small {
    font-size: .75rem;
    font-weight: lighter;
    padding: 1px;
    height: 24px;
    width: 24px;
}

.clicked-hint {
    background-color: rgb(236, 236, 45);
}

.clicked {
    background-color: rgba(156, 156, 156, 0.733);
}

.safe {
    background-color: rgba(255, 128, 192, 0.829);
}

.score {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.score-dig {
    padding: 3px;
    background-color: black;
    color: yellow;
    letter-spacing: 2px;
}

.h2-best-score {
    margin-top: 20px;
    font-size: small;
}

.best-score {
    margin: auto;

}

.best-score td {
    font-size: 1.2rem;
    border: solid 2px black;
    padding: 7px;
    height: 33px;
}

h3 {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.red {
    background-color: red;
}

.hide {
    display: none;
}