body {
    text-align: center;
}

table {
    margin: auto;
}

.cell {
    border: 2px solid #000;
    padding: 3px;
    height: 25px;
    width: 25px;
}

.cover {
   display: none;
}